<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <h4><%= @tarea.nombre %></h4>
                </thead>    
                    <% @users.each do |user|%>
                    <tr>
                        <td> Nombre: <%= user.first_name%></td>
                    </tr>

                    <tr>
                        <td> Apellido: <%= user.last_name%></td>
                    </tr>

                    <tr>
                        <td> Email Usuario: <%= user.email%></td>
                    </tr>
                    <tr>
                        <td> Fecha Creación: <%= user.created_at%></td>
                    </tr>



                    <% end %>

                
            </table>    
        </div>    
            
        <div class="col-md-6">    
                <%= image_tag @tarea.foto, class: 'card-img-top' %>
        </div>    
            
            
        </div>    
    </div>    
</div>